@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --primary-color: #b80300;
    --secondary-color: #031927;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #f5f0f0;
    margin: 0;
    font-family: Open Sans,Helvetica,Arial,sans-serif
}

h1 {
    font-size: 3em;
    line-height: 1.3em;
    margin-top: .2em;
}

h2 {
    font-size: 2em;
    color: #fff;
}

a {
    color: var(--secondary-color);
    text-decoration: none;
}

a:hover {
    background: #e2201d;
}

.secondary-cta:hover {
    background: #063450;
}

li {
    font-size: 1.1em;
    margin-bottom: 1em;
    margin-left: 2em;
    position: relative;
}

ul > a {
    background: var(--primary-color);
    border-radius: 5px;
    padding: .5em 1.2em;
    color: white;
    font-size: 0.8em;
    width: 80px;
    height: 20px;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    display: flex;
}

/* Navbar */

/* nav > .content {
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    padding: 2em 13em;
} */

/* .logo-box {
    display: flex;
    align-items: center;
} */

.nav-logo {
    width: 45px;
    height: 45px;
}

/* .left-text {
    display: flex;
    align-items: center;
    flex: 1;
} */

/* Hero Section */


.left-col h1{
    margin-right: 8em;
    color: var(--secondary-color);
    /* width: 600px; */
}

.left-col p{
    margin: 2em 0;
    color: rgb(84, 90, 107);
    /* width: 550px; */
    font-size: 1.2em;
}

.hero-img {
    width: 40%;
    margin-top: -100px;
    margin-right: 0;
}

.hero .container {
    justify-content: space-between;
    text-align: left;
}

.container {
    display: flex;
    grid-template-columns: 180px auto;
    justify-content: unset;
    padding: 7em 10%;
    margin: 0 auto;
}

/* Buttons */

.hero-cta {
    display: flex;
}

.primary-cta, .secondary-cta, .nav-login {
    color: white;
    text-decoration: none;
    padding: .5em 1.2em;
    font-size: 0.8em;
    border-radius: 5px;
    width: 100px;
    height: 25px;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    display: flex;
}

.primary-cta, .nav-login {
    background-color: var(--primary-color);
    margin-right: 1em;
}

.secondary-cta {
    background-color: var(--secondary-color);
}


/* Sections */

/* section {
    padding: 10em 4em;
} */

.game-section h2{
    margin-top: 0;
    color: var(--secondary-color);
    width: 395px;
}

.game-section p{
    color: #747c94;
    width: 400px;
    font-size: 1em;
}

.content-right {
    margin: 2em 0 0 15em;
}

.boxes{
    display: flex;
    background: #191c24;
    border-radius: 8px;
}

.box {
    flex: 1;
    padding: 40px 40px;
    color: white;
    margin: auto;
    width: 50%;
}

.box img {
    width: 45px;
    height: 45px;
    margin-bottom: -20px;
}

.box h2 {
    font-size: 24px;
}

.box p {
    font-size: 15px;
    color: #b5b8c1;
}

.card-container {
    width: 1500px;
    margin: 0 auto;
}

.cards {
    padding-top: 0;
    background-color: #d8d6d6;
}

/* Downloads section */

.mobile-template {
    width: 30%;
}

.download {
    padding: 6em 4em;
}

.works-container {
    display: flex;
    background-color: #d8d6d6;
    text-align: left;
    grid-template-columns: 180px auto;
    justify-content: unset;
    padding: 7em 10%;
    margin: 0 auto;
}

.ios-android {
    width: 40%;
    margin-top: 3em;
}

.star-icon {
    width: 45px;
    height: 45px;
    margin-top: 8em;
}

.yt-template {
    width: 50%;
    padding-left: 22em;

}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    margin-right: auto;
}

/* Game Menu */

.menu {
    text-align: center;
}

.menuBtn {
    align-items: center;
    border: 1px solid black;
    margin: 10px auto;
    width: 56vw;
}

.BtnImg {
    height: 10vw;
    width: 54vw;
    object-fit: cover;
}

/* -------------- Responsive HERO ------------*/


/* Responsiveness */
@media only screen and (max-width: 1320px) {

    .left-col h1{
        margin-right: 1em;
    }

    .left-col p{
        margin-right: 2em;
    }

    .hero-img {
        display: none;
    }
    .yt-template {
        display: none;
    }
}


@media only screen and (max-width: 1080px) {
    .nav-login {
        padding: .3em .5em;
    }

    .hero {
        display: flex;
        justify-content: space-between;
        text-align: left;
    }
    .works-container {
        padding: 0 10% 7em 10%;
    }

    .boxes {
        display: block;
    }

    .box {
        margin: 0 0 0 4em;
    }

    .mobile-template {
        display: none;
    }
    .download {
        padding: 0;
    }

    .content-right {
        margin: 0;
    }

    .download > .container {
        padding: 0;
    }

    .content-right {
        padding: 0 10% 7em 10%;
    }
}

@media only screen and (max-width: 600px) {

    .left-col h1 {
        font-size: 35px;
        margin-right: 0;
    }

    .left-col p{
        font-size: 18px;
        margin-right: 2em;
    }

    .hero-img {
        display: none;
    }
    .container {
        padding: 3em 10% 5em 10%;
    }

    .game-section p, .game-section {
        width: 18em;
    }

    .box {
        margin: 0;
        width: 15em;
    }
    .card-container {
        width: 20em;
    }
    h2 {
        width: 15em;
    }
}

/* @media only screen and (max-width: 720px) {
    .left-col{
        display: block;
    }
} */







