button{
    background-color: #a8a8a8;
}

.game {
    background: lightgrey;
    width: 6em;
    padding: 8px 8px;
}

.buttonBox {
    background: lightgrey;
    padding: 8px 8px;
}

.score, .startGame {
    margin-left: 8px;
}

button:hover {
    background-color: #808080;
}