body{
    padding: 20px
}

button{
    background-color: #a8a8a8;
    border-radius: 0.25em;
}

.game {
    background: lightgrey;
    width: 6em;
    padding: 8px 8px;
    border-radius: .2em;
}

.buttonBox {
    background: #a8a8a8;
    padding: 8px 8px;
    border-radius: 0.25em;
}

.score, .startGame {
    margin-left: 8px;
}

button:hover {
    background-color: #808080;
}